<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" appHeaderStyles [bgCoLor]="'Red'">Recipe Shop</a>
    </div>
    <div class="collapse navbar-collapse">
      <div *ngIf="isLogged" class="nav navbar-nav">
        <li><a routerLink="/recipes" routerLinkActive="active" appHeaderStyles>Recipes</a></li>
        <li><a routerLink="/shopping-list" routerLinkActive="active" appHeaderStyles>Shopping List</a></li>
        <li><a routerLink="/material-cards" routerLinkActivate="active" appHeaderStyles>MyCards</a></li>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li *ngIf="!isLogged" ><a routerLink="/signin" appHeaderStyles [bgCoLor]="'LightGreen'">Login</a></li>
          <li *ngIf="!isLogged" ><a routerLink="/signup" appHeaderStyles [bgCoLor]="'LightBlue'">Sign Up</a></li>
          <li *ngIf="isLogged" ><a (click)="onLogOut()" appHeaderStyles [bgCoLor] ="'OrangeRed'">LogOut</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
